services:
  - type: web
    name: discord-message-dashboard
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: BOT_TOKEN
        sync: false
    plan: free
